<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.database.mapper.ReviewMapper"> 

<insert id="addReview" parameterType="ReviewModel">
	insert into review(rcnt,username,userip,addtime,newsid,newstype) values(#{rcnt},#{username},#{userip},now(),#{newsid},#{newstype})
</insert>

</mapper>
