<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.database.mapper.UserMapper"> 
<!--  查询所有记录  -->
<select id="selectAll" resultType="UserModel">
	select * from users  limit 0,2
</select>
<select id="selectPWD" parameterType="String" resultType="String">
	select userpwd from users where username=#{0} limit 0,1
</select>
<select id="selectUser" parameterType="UserModel" resultType="int">
	select count(*) from users where username=#{username}
</select>
<select id="selectMsg" parameterType="String" resultType="MyMsg">
	select * from mymessage where receiver=#{0}
</select>
<insert id="addMsg" parameterType="MyMsg">
	insert into mymessage(sender,receiver,sendtime,msgcnt,addtime) values(#{sender},#{receiver},#{sendtime},#{msgcnt},now())
</insert>
<insert id="insertUser" parameterType="UserModel">
	<selectKey keyProperty="id" resultType="int">
		select LAST_INSERT_ID()
	</selectKey>
	insert into users(username,userpwd,useremail,sex) values(#{username},#{userpwd},#{useremail},#{sex})
</insert>
</mapper>
